---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/0?api_key=<TMDB_API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
      X-Az:
      - us-east-1b
      X-Task-Id:
      - 127b20316b214beebfe1e1d3eca98f92
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":6,"status_message":"Invalid id: The
        pre-requisite id is invalid or not found."}'
  recorded_at: Thu, 13 Nov 2025 09:34:30 GMT
recorded_with: VCR 6.3.1
